body{
    width: 82%;
    color: black;
    font-size: 17px;
}
.heading{
    display: flex;
}
.latest{
    width:50px;
    height: 20px; 
    padding: 2px;
    background-color: darkblue;
    color: white;
    align-content: center;
}
.marquee-container {    
    overflow: hidden;
    display: flex;
    height: 20px;
    padding: 2px;
    border: 1px solid #e6e6e6;
    border-right-style: none;
}
.marquee{
    align-items: center;
    animation: scroll 15s linear infinite;
    padding-left: 100%;
    display: inline-flex;
    white-space: nowrap;
}
.marquee:hover{
    animation-play-state:paused;
}

@keyframes scroll{
    100%{ 
            transform: translate(-100%,0);
        }
}
.item1, .item2{
    height: 100%;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.item1::after {
    content: '';
    position: absolute;
    width: 95%;
    transform: scaleX(0);
    height: 0.5px;
    bottom: 0;
    left: 7px;
    background-color: black;
    transition: transform 0.25s ease-out;
}
.item1:hover::after {
    transform: scaleX(1);
}
.news{
    display: flex;
    height:100%;
    padding:10px;
    border: 1px solid #e6e6e6;
    border-radius:5px;
}

.main-content{
    display: column;
    margin-right:15px
}
.title{
    padding-top: 5px;
    font-size: 18px;
}
.date{
    font-size: 13px;
    color:gray;
    margin-top: 20px;
    margin-bottom: 20px;
}
.details{
    line-height: 1.4;
}
.photo-container{
    position:relative;
}
.photo{
    display: block;
}
.transparent{
    display: flex;
    position: absolute;
    top:160px;
    left:0;
    width: 100%;
    height: 40px;
    background: rgba(0,0,0,0.3);
    color:white;
    justify-content: center;
    align-items: center;
    opacity:0;
}
.transparent:hover{
    opacity:1;
}




